@tailwind base;
@tailwind components;
@tailwind utilities;



.box {
  padding: 40px;
  border: 2px dashed black;
  margin: 10px;
}

.container {
  border: 2px solid blue;
  width: 80vw;
  height: 80vh;
  margin: auto;
  
  
}

.box-container {
  border: 2px dashed red;
  width: 60vw;
  height: 40vh;
  margin: auto;
  display:  flex;
  align-items: space-around;

}

.red {
  border: 2px solid red
}